body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

.header {
    color: #F9FAF8;
    width: 960px;
    display: flex;
    padding-top: 12px;
    padding-bottom: 24px;
    font-size: 24px;
}

.top_links {
    margin-left: auto;
}
.blurb {
    color: white;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.sign_up {
    border-radius: 5px;
    background: #3882F6;
    padding: 3px 10px;
    width: fit-content;
    color: white;
}

.top_text {
    width: 450px;
    font: 48px extra-bold #F9FAF8
}

.top_text p {
    font-size: 18px;
    color: #E5E7EB
}

.two {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    flex: 1 0 auto;
    
}

.two .information {
    color: #1F2937;
    font-size: 36px;
    font-style: extra-bold;
}

.items {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.item {
    max-width: 150px;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 5px;    
}

.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /* margin-bottom: 16px; */
    flex: 1 0 auto;
}

.quote_container {
    width: 960px;
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 36px;
}

.author {
    align-self: flex-end;

}

.four {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
       
}

.action {
    background-color: #3882F6;
    color: white;
    width: 960px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px; 
    
}

.action .sign_up {
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

li {
    margin-left: 20px;
}

.placeholder {
    width: 400px;
    height: auto;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}



